<mat-toolbar>
  <!-- <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button> -->
  <span>Where is the World?</span>
  <div class="left">
    <mat-slide-toggle (change)="onDarkModeSwitched($event)">
      <mat-icon aria-label="Side nav toggle icon">dark_mode</mat-icon>
      <span>Dark Mode!</span>
      
    </mat-slide-toggle>
    
  </div>
</mat-toolbar>

<mat-card *ngIf="(selectedCountries$ | async).visitedCountries.length > 0">
  <mat-card-content>

    <mat-chip-list aria-label="Fish selection" >
      <mat-chip *ngFor="let country of (selectedCountries$ | async).visitedCountries">{{ country }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>